@page
@model FQCS.DeviceAdmin.WebAdmin.Pages.DeviceConfig.DetailModel
@{
    var apiUrl = WebAdmin.Settings.Instance.ApiUrl;
}

@section head {
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Info.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Constants.Routing.DASHBOARD">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Constants.Routing.DEVICE_CONFIG">Device config</a></li>
                    <li class="breadcrumb-item active">@Model.Info.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-info-circle mr-1"></i>
                            Info
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" id="form-main">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Id</label>
                                <input type="text" name="id" class="form-control" disabled value="@Model.Id">
                            </div>
                            <div class="form-group">
                                <label>Identifier</label>
                                <input type="text" name="identifier" class="form-control" placeholder="Please enter identifier">
                            </div>
                            <div class="form-group">
                                <label>Kafka server</label>
                                <input type="text" name="kafka_server" class="form-control" placeholder="Please enter Kafka server">
                            </div>
                            <div class="form-group">
                                <label>Kafka username</label>
                                <input type="text" name="kafka_username" class="form-control" placeholder="Please enter Kafka username">
                            </div>
                            <div class="form-group">
                                <label>Kafka password reset</label>
                                <input type="password" name="kafka_password_reset" class="form-control" placeholder="Leave blank if there's no update">
                            </div>
                            <hr />
                            <div id="roe-section">
                                <h3>JOB: Remove old events</h3>
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        <input id="roe-cb-enabled" name="roe_enabled" value="true"
                                               class="custom-control-input" type="checkbox" />
                                        <label for="roe-cb-enabled" class="custom-control-label">Enabled</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Hours interval</label>
                                    <input type="number" name="roe_secs_interval" class="form-control" placeholder="Please choose an interval">
                                </div>
                                <div class="form-group">
                                    <label>Keep events within days</label>
                                    <input type="number" name="roe_keep_days" class="form-control" placeholder="Please enter a number">
                                </div>
                                <div class="form-group">
                                    <label>Job start</label>
                                    <input type="datetime-local" name="next_roe_job_start" class="form-control">
                                </div>
                            </div>
                            <hr />
                            <div id="sue-section">
                                <h3>JOB: Send unsent events</h3>
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        <input id="sue-cb-enabled" name="sue_enabled" value="true"
                                               class="custom-control-input" type="checkbox" />
                                        <label for="sue-cb-enabled" class="custom-control-label">Enabled</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Hours interval</label>
                                    <input type="number" name="sue_secs_interval" class="form-control" placeholder="Please choose an interval">
                                </div>
                                <div class="form-group">
                                    <label>Break seconds</label>
                                    <input type="number" name="sue_sleep_secs" class="form-control" placeholder="Please enter a number">
                                </div>
                                <div class="form-group">
                                    <label>Job start</label>
                                    <input type="datetime-local" name="next_sue_job_start" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check mr-1"></i>
                                Update
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section scripts {

    <!-- jquery-validation -->
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2();
            $.validator.addMethod("kafka", function (value, element) {
                let username = $('#form-main [name=kafka_username]').val();
                let password = $('#form-main [name=kafka_password]').val();
                if ((username || password) && !value)
                    return false;
                return true;
            }, "Please specify the Kafka server");
            $.validator.addMethod("require_if", function (value, element, params) {
                if ($(params).val() && !value)
                    return false;
                return true;
            }, "Please specify the value for this input");
            getData();
            $('#form-main').validate({
                submitHandler: confirmSubmit,
                rules: {
                    identifier: {
                        required: true,
                    },
                    roe_secs_interval: {
                        require_if: '[name=roe_enabled]:checked',
                        min: 1
                    },
                    roe_keep_days: {
                        require_if: '[name=roe_enabled]:checked',
                        min: 0
                    },
                    sue_secs_interval: {
                        require_if: '[name=sue_enabled]:checked',
                        min: 1
                    },
                    sue_sleep_secs: {
                        require_if: '[name=sue_enabled]:checked',
                        min: 1
                    },
                    kafka_server: {
                        kafka: true
                    }
                },
                messages: {
                    identifier: {
                        required: "Identifier required",
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        function getData() {
            changeLoading(true);
            $.ajax({
                url: '@apiUrl/@Business.Constants.ApiEndpoint.DEVICE_CONFIG_API',
                type: 'get',
                data: {
                    id: @Model.Id,
                    fields: '@DeviceConfigQueryProjection.INFO',
                    single_only: true,
                    date_format: '@Business.Constants.AppDateTimeFormat.SHORT_ISO',
                },
                success: (respData) => {
                    console.log(respData);
                    let data = respData.data.single;
                    processData(data);
                },
                error: (resp) => {
                    handleGeneralError(resp, '@Constants.Routing.DEVICE_CONFIG');
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function processData(data) {
            const formMain = $('#form-main');
            formMain.find('[name=identifier]').val(data.identifier);
            formMain.find('[name=kafka_server]').val(data.kafka_server);
            formMain.find('[name=kafka_username]').val(data.kafka_username);
            const roe_data = JSON.parse(data.remove_old_events_job_settings);
            const sue_data = JSON.parse(data.send_unsent_events_job_settings);
            const roe = formMain.find('#roe-section');
            roe.find('[name=roe_enabled]').prop('checked', roe_data.enabled);
            if (roe_data.secs_interval / 3600.0)
                roe.find('[name=roe_secs_interval]').val(roe_data.secs_interval / 3600.0);
            roe.find('[name=roe_keep_days]').val(roe_data.keep_days);
            roe.find('[name=next_roe_job_start]').val(data.next_roe_job_start?.display);
            const sue = formMain.find('#sue-section');
            sue.find('[name=sue_enabled]').prop('checked', sue_data.enabled);
            if (sue_data.secs_interval / 3600.0)
                sue.find('[name=sue_secs_interval]').val(sue_data.secs_interval / 3600.0);
            sue.find('[name=sue_sleep_secs]').val(sue_data.sleep_secs);
            sue.find('[name=next_sue_job_start]').val(data.next_sue_job_start?.display);
        }

        function confirmSubmit() {
            confirmAlert().then((result) => {
                if (result.value)
                    submitData();
            });
        }

        function submitData() {
            const model = {};
            model.identifier = $('[name=identifier]').val();
            model.kafka_server = $('[name=kafka_server]').val();
            model.kafka_username = $('[name=kafka_username]').val();
            model.kafka_password_reset = $('[name=kafka_password_reset]').val();
            const roe = {};
            roe.enabled = $('#roe-section [name=roe_enabled]:checked').length > 0;
            roe.secs_interval = parseFloat($('#roe-section [name=roe_secs_interval]').val()) * 3600;
            roe.keep_days = $('#roe-section [name=roe_keep_days]').val();
            model.next_roe_job_start = $('#roe-section [name=next_roe_job_start]').val();
            const sue = {};
            sue.enabled = $('#sue-section [name=sue_enabled]:checked').length > 0;
            sue.secs_interval = parseFloat($('#sue-section [name=sue_secs_interval]').val()) * 3600;
            sue.sleep_secs = $('#sue-section [name=sue_sleep_secs]').val();
            model.next_sue_job_start = $('#sue-section [name=next_sue_job_start]').val();
            model.remove_old_events_job_settings = roe;
            model.send_unsent_events_job_settings = sue;
            changeLoading(true);
            $.ajax({
                url: '@apiUrl/@Business.Constants.ApiEndpoint.DEVICE_CONFIG_API/@Model.Id',
                type: 'patch',
                contentType: 'application/json',
                data: JSON.stringify(model),
                success: (respData) => {
                    successAlert("Updated successfully");
                },
                error: (resp) => {
                    handleGeneralError(resp);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

    </script>
}
